<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">

  <label for="phone">Phone Number:</label>
  <input type="text" id="phone" formControlName="phone">

  <label for="members">No. of members:</label>
  <input type="number" id="members" formControlName="members">

  <label for="date">Date:</label>
  <input type="date" id="date" formControlName="date">

  <label for="time">Time:</label>
  <input type="time" id="time" formControlName="time"><br>

  <button type="submit">Submit</button>
</form>
